[Unit]

Description=pay_server
After=network.target

[Service]
Type=forking
ExecStart=/opt/GasStationPro/pay_server
ExecReload=/opt/GasStationPro/pay_server
WorkingDirectory=/home/vadosss63/.GasStationPro/
TimeoutSec=300
Restart=always

[Install]
WantedBy=multi-user.target